.navbar{
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar--text{
  color: white;
}

.card--container{
  display: flex;
}

.card--details--location{
  display: flex;
  align-items: center;
}