.navbar{
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px 1px 20px -3px rgba(0,0,0,0.75);
}

.navbar--text{
  color: white;
}

.card--container{
  display: flex;
  margin: 20px;
  padding: 20px;
  gap: 20px;
}

.card--details--location{
  display: flex;
  gap: 10px;
  align-items: center;
}

.card--details--location > p{
  letter-spacing: 4px;
  padding-right: 25px;
}

.card--details--dates{
  font-weight: 800;
}

.card--details--image{
  min-width: 250px;
  min-height: 336px;
  max-width: 250px;
  max-height: 336px;
  border-radius: 12px;
}