body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

h1{
  margin: 0;
  font-size: 45px;
}
a{
  color: #918E9B;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
